.userlist {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-colums: auto;
    .lastname {
        background-color: red;
    }
    .firstname {
        background-color: blue;
    }
    .link {
        background-color: green;
    }
}